.mainContainer {
  display: flex;
  height: 100vh;
}

.leftPanel {
  min-width: 200px;
  max-width: 200px;
  border-right: 1px solid black;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.rightPanel {
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-around;

}

.linkStyle {
  text-decoration: none;
  color: green;
}

.header {
  text-align: center;
}

.body {
  height: 100%;
}

.center {
  text-align: center;
}

.footer {
  text-align: center;
}

.blackLink {
  color: black;
}

.profileIcons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-left: 25px;
  margin-right: 25px;
}
