[data-theme="light"] {
  --primary-color: #302AE6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --green-text: green;
  --opposite-green-text: #96E890;
  --orange-text: orange;
  --info-text: black;
  --separator: darkgrey;
  --heart: red;
  --article-hover: #E8E8E8;
  --heading-color: #292922;
  --dropdown-nav-color: #f9f9f9;
}

[data-theme="dark"] {
  --primary-color: #282C2B;
  --secondary-color: #818cab;
  --green-text: #96E890;
  --opposite-green-text: green;
  --orange-text: #FFCE90;
  --info-text: #dcdcdce0;
  --separator: grey;
  --bg-color: #282C2B;
  --heart: #ffa7c4;
  --article-hover: #959EA1;
  --heading-color: #818cab;
  --dropdown-nav-color: #272626;
}

body {
  background-color: var(--bg-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
